@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h1 class="display-4">Bem Vindo</h1><br />
    <p>
        Este é um site feito pelos alunos do SESI/SENAI com o intuito </br> de evitar o desperdício na rede escolar.
    </p>
</div>
<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
     
        <div class="carousel-item active">
            <img src="https://cronos-media.sesisenaisp.org.br/api/media/1-0/files?img=img_65_240822_964d6335-9d5b-412d-a10e-053bd1239c31_o.jpg&tipo=p"
                 class="d-block w-100" width="300" height="500" alt="Segundo Slide">
        </div>

    </div>
