@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h1 class="display-4">Bem Vindo</h1><br />
    <p>
        Este é um site feito pelos alunos do SESI/SENAI com o intuito </br> de evitar o desperdício na rede escolar.
    </p>
</div>
