@{
    ViewData["Title"] = "Fundamentos";
}
<h1>@ViewData["Title"]</h1>

<p>* Evitar o desperdicio de comida na rede escolar;
   * Informar sobre a presença do aluno;
   * Facilitar o controle de comida;
</p>
