@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<<<<<<< HEAD
<h1>@ViewData["Title"]</h1>
=======
<h1>Confirmar Email</h1>
>>>>>>> master
<partial name="_StatusMessage" model="Model.StatusMessage" />
