@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>Confirmação para resetar a senha</h1>
<p>

    Sua senha foi redefinida <a asp-page="./Login"> Clique aqui para efetuar login.</a>
</p>
