@model ProjetoCorina2.Models.Classificacoe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Classificacoe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClassificacoeId" class="btn btn-outline-secondary">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-danger">Sair</a>
</div>
